<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.StudentMapper">

    <select id="getStudentById" resultType="uz.leeway.jersey.lesson01.db.StudentEntity">
        select *
        from STUDENTS
        where 1 = 1
        <if test="id != null">
            and STUDENT_ID = #{id}
        </if>
    </select>

<!--    <delete id="deleteStudent" parameterType="uz.leeway.jersey.lesson01.db.StudentEntity">-->
<!--        DELETE FROM STUDENTS WHERE  STUDENT_ID= #{id}-->
<!--    </delete>-->


        <delete id="deleteStudent" parameterType="uz.leeway.jersey.lesson01.db.StudentEntity" statementType="CALLABLE">
            {CALL pr_delete_row(
                #{p_student_id, mode=IN, jdbcType=INTEGER},
                #{p_result, mode=OUT, jdbcType=INTEGER},
                #{p_message, mode=OUT, jdbcType=VARCHAR}
                )}
        </delete>


</mapper>